<nav class="navbar navbar-expand-md  navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="d-block d-md-none">Программирование на C#</span>
      <span class="d-none d-md-block">{{site.title}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
        </ul>
        <span class="navbar-text">
          <a href="mailto:{{site.email}}">{{site.email}}</a>
        </span>
      </div>
  </div>
  </nav>
