<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/3rdparty/bootstrap.min.css" | relative_url }}">
    <script src="{{ "/assets/3rdparty/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/popper.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/js.cookie.min.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  </head>