<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/3rdparty/bootstrap.min.css" | relative_url }}">
    <script src="{{ "/assets/3rdparty/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/popper.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/bootstrap.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/3rdparty/js.cookie.min.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/3rdparty/fontawesome/css/all.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <title>{{page.title}}</title>
</head>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter50107786 = new Ya.Metrika2({
                  id:50107786,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true,
                  webvisor:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50107786" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->