@mixin task($color) {
    background-color: $color;
    box-shadow: 0 0 6px lighten($color, 3);

    &:hover {
        background-color: lighten($color, 3);
        .tasks-item-index {
            background-color: lighten($color, 8);
        }
    }

    .tasks-item-index {
        background-color: lighten($color, 5);
        border-right: 2px solid darken($color, 5);
    }
}

.home-labs-links, .home-page-links {
    a {
        display: block;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:hover {
            text-decoration: none;
        }
    }
}

.home-labs-links {

    @for $i from 1 to 10 {
        a:nth-child(#{$i}) {
            $color: darken(#3057a4, $i * 8);
            color: $color;
            &:hover {
                color: darken($color, 10);
            }
        }
    }
}

.home-page-links {
    @for $i from 1 to 10 {
        a:nth-child(#{$i}) {
            $color: adjust_hue(blue, $i * 25);
            color: $color;
            &:hover {
                background: linear-gradient(90deg, lighten($color, 40), white);
                color: darken($color, 10);
            }
        }
    }
}

.lab-description {
    padding: 1em 0;
    padding-top: 0; 
}

.tasks-list {
    .tasks-item {
        margin: 0.5em 0;
        display: flex;
        align-content: stretch;

        transition: all 0.3s;

        .tasks-item-index {
            transition: all 0.3s;
            padding: 0.5em;
            flex-shrink: 0;
            flex-basis: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tasks-item-description {
            transition: all 0.3s;
            padding: 0.75em;
            flex-grow: 1;
            flex-basis: 0;
            p:last-child {
                margin-bottom: 0;
            }
        }

        &.tasks-item-difficulty-1 {
            @include task(rgb(217, 255, 160));
        }

        &.tasks-item-difficulty-2 {
            @include task(rgb(255, 238, 164));
        }

        &.tasks-item-difficulty-3 {
            @include task(rgb(255, 210, 226));
        }
    }
}


body {
    min-height: auto;
    padding-top: 4.5rem;
}
  
.page-content {
    blockquote {
        border-left: none;
        color: black;
        padding-left: 15px;
        font-size: 0.9em;
        letter-spacing: normal;
        font-style: normal;
    }
}


@media (max-width: 600px)
{
    
    h1 {
        font-size: 1.75em;
    }
    .post-list-heading {
        font-size: 1.5em;
    }

    .tasks-list .tasks-item {
        font-size: 0.9em;
        .tasks-item-index {
            padding: 0.25em;
            flex-basis: 36px;
        }
    }
}

