@mixin task($color) {
    background-color: $color;
    box-shadow: 0 0 6px lighten($color, 3);

    &:hover {
        background-color: lighten($color, 3);
        .tasks-item-index {
            background-color: lighten($color, 8);
        }
    }

    .tasks-item-index {
        background-color: lighten($color, 5);
        border-right: 2px solid darken($color, 5);
    }

    .task-item-students {
        background-color: lighten($color, 5);
        .task-item-student {
            background-color: lighten($color, 25);
            &.done {
                background-color: lighten($color, 10);
            }
            .task-item-student-group {
                color: darken($color, 65)
            }
        }
    }
}

.tasks-list {
    .tasks-item {
        margin: 0.5em 0;
        display: flex;
        align-content: stretch;

        transition: all 0.3s;

        .tasks-item-wrapper {
            display: flex;
            width: 100%;
        }

        .tasks-item-index {
            transition: all 0.3s;
            padding: 0.5em;
            flex-shrink: 0;
            flex-basis: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tasks-item-description {
            transition: all 0.3s;
            .text {
                padding: 0.75em;
            }
            flex-grow: 1;
            flex-basis: 0;
            p:last-child {
                margin-bottom: 0;
            }
        }

        .task-item-students {
            padding: 0.5em;
            flex-basis: 190px;
            align-items: flex-end;

            .task-item-student {
                align-items: flex-end;
                justify-content: flex-end;
                display: flex;
                flex-shrink: 0;
                border-radius: 0.3em;
                padding: 0.15em 0.5em;
                margin-bottom: 0.5em;
                &:last-child {
                    margin-bottom: 0;
                }
                .done-icon {
                    margin-right: auto;
                    font-size: 0.75em;
                    color: green;
                    align-self: center;
                    padding-right: 0.5em;
                }
            }
            .task-item-student-name {
                margin-right: 0.5em;
                font-size: 0.8em;
                text-align: right;
                .task-item-student-group {
                    text-align: right;
                    font-size: 0.75em;
                }
            }
        }

        &.tasks-item-difficulty-1 {
            @include task(rgb(232, 255, 150));
        }

        &.tasks-item-difficulty-2 {
            @include task(rgb(255, 238, 164));
        }

        &.tasks-item-difficulty-3 {
            @include task(rgb(255, 220, 194));
        }
    }
}

@media (max-width: 600px) {
    .tasks-list .tasks-item {
        font-size: 0.9em;

        .task-item-students {
            flex-basis: auto;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding-bottom: 0;
            .task-item-student {
                float: left;
                margin-right: 0.5em;
                &:last-child {
                    margin-bottom: 0.5em;
                }
            }
        }
        .tasks-item-wrapper {
            flex-direction: column;
        }
        .tasks-item-index {
            padding: 0.25em;
            flex-basis: 36px;
        }
    }
}
