---
layout: default
---

<h1>Лабораторные работы</h1>

{% for lab in site.data.labs %}
    <a class="post-list-heading" href="labs/{{lab[0]}}">
        {{ lab[1].title }}
    </a>
    <div>
        {{lab[1].description}}
    </div>
{% endfor %}

<p></p>
<h1>Общие руководства к действию</h1>

<a class="post-list-heading" href="/about-csharp.html">Кратко о C#</a>  
<br>
<a class="post-list-heading" href="/how-to-create-verbose-algorithm.html">Как описать алгоритм своими словами</a>  
<br>
<a class="post-list-heading" href="/how-to-create-specifications.html">Как составить таблицу спецификаций для программы</a>  
<br>
<a class="post-list-heading" href="/how-to-create-specifications.html">Как составить таблицу тестов для программы</a>  
<br>
<a class="post-list-heading" href="/how-to-create-specifications.html">Как создать простое консольное приложение</a>  
